mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider--js.swiper
				.swiper-wrapper
					-for(let i = 0; i < 6; i++)
						+e.slide.swiper-slide
							.img-wrap-center
								+img('img/headerBlock-img-1.png')
				+arrow()
				.swiper-pagination
						
	// end headerBlock