// start .headerBlock
.headerBlock {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	.container {
		--bs-gutter-x: #{rem(0)};
		background-color: #09342b;
	}
	&__slide {
		@include block(1, 1.5);
		@media screen and (min-width: 440px) {
			--ratio: 2/1;
		}
		@include media-breakpoint-up(sm) {
			--ratio: 1280/515;
		}
	}
	.swiper-pagination {
		position: absolute;
		right: rem(19.2);
		bottom: rem(16);
		z-index: 10;
		max-width: max-content;
		&-bullet {
			width: rem(16);
			height: rem(16);
			border-radius: 0;
			margin-right: rem(6);
			margin-left: rem(6);
			&-active,
			&:hover {
				background-color: $red;
			}
		}
	}
	.swiper-button-hand {
		--swiperArrowPosition: #{rem(14.4)};
		--swiperArrowSize: #{rem(38)};

		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
		background-color: transparent;
		border: none;
		border-radius: 0;
		color: #fff;
		&:hover {
			color: $red;
		}
		.icon {
			font-size: rem(37);
		}
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}
}

// end.headerBlock
