mixin product-item(i, t)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			.img-wrap-center 
				+img(`img/prod-${i}.png`)
		+e.caption
			+e.title!= t
	// /.product-item

mixin sCatalog()
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.slider--js.swiper
				+arrow
				.swiper-wrapper
					+e.slide.swiper-slide
						+product-item(`1`,`RM 36-18 LTX BL 36 (601716650) Аккумуляторная`) 
					+e.slide.swiper-slide
						+product-item(`2`,`SSW 18 LTX 800 BL (602403840) Аккумуляторный`) 
					+e.slide.swiper-slide
						+product-item(`3`,`SSW 18 LTX 1750 BL (602402840) Аккумуляторный`) 
					+e.slide.swiper-slide
						+product-item(`4`,`LF 850 ​​S (601049500) Средство для удаления краски`) 
					+e.slide.swiper-slide
						+product-item(`5`,`KGS 18 LTX BL 216 (614216650) Аккумуляторная`) 
					+e.slide.swiper-slide
						+product-item(`1`,`RM 36-18 LTX BL 36 (601716650) Аккумуляторная`) 
					+e.slide.swiper-slide
						+product-item(`2`,`SSW 18 LTX 800 BL (602403840) Аккумуляторный`) 
					+e.slide.swiper-slide
						+product-item(`3`,`SSW 18 LTX 1750 BL (602402840) Аккумуляторный`) 
					+e.slide.swiper-slide
						+product-item(`4`,`LF 850 ​​S (601049500) Средство для удаления краски`) 
					+e.slide.swiper-slide
						+product-item(`5`,`KGS 18 LTX BL 216 (614216650) Аккумуляторная`) 
	// end sCatalog